*{
	margin: 0rem;
}

body{
	color:black;
	background-color: white;
}

div{
	box-sizing: border-box;
}

html{
	font-size: 10px;
}

@font-face {
	font-family: Montserratbold;
	src: url(files/font/Montserrat-BlackItalic.ttf);
}

@font-face {
	font-family: Montserratregular;
	src: url(files/font/Montserrat-Regular.ttf);
}

#cabecera{
	width: 100%;
	height: 10rem;
	margin-top: 2rem;
}


#logocabeceraimg{
	width: 45rem;
	font-size: auto;
}

#contenido{
	background-color: rgb(38, 38, 38);
	width: 100rem;
	height: 70rem;
	margin-bottom: 5rem ;
}

#contenido2{
	background-color: rgb(83, 83, 83);
	width: 100rem;
	height: 6.5rem;
	
}

#bannerizqimg{
	height: 70rem;
	width: 3.8rem;
}

#bannerizq {
	float: left;
}

#bannerderimg{
	height: 70rem;
	width: 18.9rem;
}

#bannerder {
	float: right;
}

#bannercen{
	width: 66.4rem;
	height: 70rem;
	float: left;
}

#bannertopimg{
	width: 100rem ;
}

#bannertopimg1{
	margin-top: 0rem;
}

#bannertop1{
	
	width: none;
	float: left;
}

#bannertop{
	width: 100rem;
}

#pizarra{
	width: 72rem;
	height: 60rem;
	background-color: white;
	margin-top: 5rem;
	margin-left: 2.5rem;
}

#textcontenido{
	color: black;
	font-size: 2rem;
	font-family: Montserrat;
	padding-top: 5rem;
}

#b1{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.2rem;
	color: white;
	float: left;

	height: 2.2rem;
	padding-top: 0.5rem;
	margin-left: 2rem;
}

#n1{
	width: 90%;
	height: 12rem;
	border-color: black;
	border-width: 0.2rem;
	
}

#espacio1{
	width: 100%;
	height: 2rem;
	
}

#tn1{
	width: 70%;
	height: 100%;
	float: right;
	font-size: 2rem;
	color: black;
	font-family: Montserratregular;
	text-align: center;
	padding-left: 3rem;
	padding-top: 2.5rem;
}

#noticiasdivtexto{
	width: 100%;
	height: 100%;
	float: right;
	font-size: 1.5rem;
	color: black;
	font-family: Montserratregular;
	text-align: center;
	padding-left: 3rem;
	padding-top: 2.5rem;
}

#fn1{
	width: 30%;
	height: 100%;
	float: left;
}

#fn2{
	width: 45%;
	height: 100%;
	
}

#foton1{
	width: 100%;
	border-radius: 0.6rem;
}

#foton2{
	width: 100%;
	border-radius: 0.6rem;
	margin-top: 12rem;
}

a{
	color:black;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/*Contacto*/

#contactocontenido{
	width: 90rem;
	height: 43rem;
	float: left;
	margin-left: -10rem;
}

#cajatitulocontacto{
	width: 40rem;
	height: 4.5rem;
	background-color:transparent;
	color: white;
	margin-top: 8rem;
	
}

#cajatitulocontacto{
	font-size: 2.3rem;
	font-family: Montserratregular;
	padding-top: 0rem;
	color: rgb(0, 0, 0);
}

#cajatitulocontacto2{
	width: 40rem;
	height: 4.5rem;
	background-color:transparent;
	color: white;
	margin-top: 4rem;
	margin-bottom: 6rem;
	
}

#cajatitulocontacto2{
	font-size: 1.5rem;
	font-family: Montserratregular;
	padding-top: 0rem;
	color: rgb(0, 0, 0);
}

#formulariocontacto{
	width: 60rem;
	background-color: transparent;
	margin-top: 1rem;
	height: 45rem;
	text-align: left;
}

#formulariocontacto2{
	width: 15rem;
	background-color: transparent;
	float: left;
	height: 45rem;
	text-align: left;
}

#formulariocontacto3{
	width: 45rem;
	height: 45rem;
	text-align: left;
}

#cajaitemcontacto{
	width: 100%;
	height: 3rem;
	background-color: transparent;
	margin-top: 0.7rem;
}

#cajaitemcontacto22{
	width: 100%;
	height: 3rem;
	background-color: transparent;
	margin-top: 11rem;
	margin-left: 17.5rem;
}

#cajaitemcontacto2{
	width: 100%;
	height: 3rem;
	background-color: transparent;
	margin-top: 10rem;
}

#cajaitemcontacto2{
	width: 100%;
	height: 3rem;
	background-color: transparent;
	margin-top: 2rem;
}


#textoformulariocontacto{
	font-size: 1.8rem;
	font-family: Montserratregular;
}

#cajaformcontacto1{
	
	font-family: Montserratregular;
	color: black;
	background-color: white;
	border-width: 0.2rem;
	border-radius: 0.5rem;
	border-color: rgba(0, 0, 0, 0.4);
	margin-top: 0.4rem;
	width: 25rem;
	height: 2rem;
	
}

#cajaformcontacto11{
	
	font-family: Montserratregular;
	color: black;
	background-color: white;
	border-width: 0.2rem;
	border-radius: 0.5rem;
	border-color: rgba(0, 0, 0, 0.4);
	margin-top: 0.4rem;
	width: 25rem;
	height: 10rem;
}

#copiarbotoncontacto{
	margin-top: 0.5rem;
	border-width: 0.1rem;
	border-color: rgba(0, 0, 0, 0.4);
	border-radius: 0.5rem;
	text-align: center;
	font-size: 2rem;
	font-family: Montserratregular;
	color: white;
	background-color: rgb(82, 82, 82);
	
}

/**/
@media (max-width:500px) {

	html{
		font-size: 4px;
	}

}

@media (min-width:501px) and (max-width:700px) {

	html{
		font-size: 5px;
	}

}

@media (min-width:701px) {

	html{
		font-size: 9px;
	}

}

