*{
	margin: 0px;
}

body{
	color:black;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
}



#contenedor{
	height: 900px;
	width: 900px;
	background-color: rgb(255, 255, 255);
	margin-left: 5px auto;
}

#cabecera2{
	width: 900px;
	height: 50px;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	text-align: left;
	font-size: 12px;
	color: rgb(46, 46, 46);
	font-family:  "Montserrat" , sans-serif;
	padding-top: 20px;
	padding-left: 5px;
}

#cabecera{
	width: 900px;
	height: 100px;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	border-top: solid black ;
	border-bottom: solid black;
	border-top-width: 0.1px;
 	border-bottom-width: 0.1px;
	align-items: center;
	padding-top: 5px;
  	
	
}

#barra{
	width: 900px;
	text-align: center;
	background-color: rgb(255, 255, 255);
}

#pie{
	font-size: 13px;
	width: 900px;
	height: 50px;
	background-color: rgb(255, 255, 255);
	font-family:  "Montserrat" , sans-serif;
	color: rgb(0, 0, 0);
	padding-top: 50px;
}


#cajita1{
	font-family: 'Playfair Display', serif;
	padding-top: 7px;
	font-size: 15px;
	width: 128.57142px;
	height: 30px;
	background-color: rgb(255, 255, 255);
	color: rgb(46, 46, 46);
	float:left	
}

#espacio{
	height: 15px;
	width: 900px;
	color: rgb(255, 255, 255);
}

#search{
	align-items: left;
	float: left;
	padding-left: 20px;
	padding-top: 16px;

}

#contenido{
	width: 900px;
	height: 800px;
	background-color: rgb(255, 255, 255);	
	box-sizing: border-box;
}

#pilar{
	padding-top: 60px;
	align-items: center;
}

#noticia1{
	width: 450px;
	height: 300px;
	font-family:'Playfair Display', serif;
	background-color: rgb(255, 255, 255);
	font-size: 30px;
	color: rgb(0, 0, 0);
	text-align: left;
	float: left;
	padding-top: 20px;
	box-sizing: border-box;
}

#noticia2{
	width: 450px;
	height: 450px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	box-sizing: border-box;
	float: right;
	align-items: center;
	font-family:'Playfair Display', serif;
	font-size: 20px;
	text-align: left;
	padding-left: 50px;


}

#noticia3{
	width: 450px;
	height: 400px;
	font-family:'Playfair Display', serif;
	background-color: rgb(255, 255, 255);
	font-size: 20px;
	color: rgb(0, 0, 0);
	text-align: left;
	float: left;
	padding-top: 5px;
	box-sizing: border-box;
}

#noticia4{
	width: 450px;
	height: 220px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	box-sizing: border-box;
	float: right;
	align-items: center;
	font-family:'Playfair Display', serif;
	font-size: 20px;
	text-align: right;
	padding-left: 50px;


}


/*Estilo de enlace general*/
a{
	
	text-decoration: none;
	
}

/*Estilo de enlace sin visitar*/
a:link{
	color: rgb(0, 0, 0);
	
}

/*Estilo de enlace visitado*/
a:visited{
	color: rgb(0, 0, 0);
	
	
}

/*Estilo de enlace cuando el raton esta encima*/
a:hover{
	color: rgb(0, 0, 0);
	text-decoration: underline;
	

}

/*Estilo de enlace activo*/
a:active{
	color: rgb(0, 0, 0);
	
}





